
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: white;
}
.header{
    background-color: #2a2a2a;
    font-family: 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
}
main{
    padding: 16px;
}
body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1b1b1b;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
}
nav{
    padding: 16px;
    border-bottom: 1px solid black;
}
.flex-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
div{
    font-size: 20px;
}
.item:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}
.item{
    transition: background-color 0.5s ease-out;
    padding: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
.grid-item1{

}
.grid-item2{

}
.grid-item3{

}
.grid-item4{

}